<div data-section-id="{{- section.id -}}" class="w-screen bg-red-200 lg:flex">
  <div class="relative overflow-hidden lg:w-1/2 xl:w-2/5 product__img-swiper group max-h-[50vh] lg:max-h-full">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="//source.unsplash.com/1024x768/?interior" alt="" width="" height="" loading="lazy" class="object-cover w-full h-full">
      </div>
      <div class="swiper-slide">
        <img src="//source.unsplash.com/1024x768/?interior" alt="" width="" height="" loading="lazy" class="object-cover w-full h-full">
      </div>
      <div class="swiper-slide">
        <img src="//source.unsplash.com/1024x768/?interior" alt="" width="" height="" loading="lazy" class="object-cover w-full h-full">
      </div>
    </div>
    <div class="absolute top-0 bottom-0 left-0 right-0 z-10 flex items-center justify-between px-4 duration-300 pointer-events-none lg:px-8 lg:opacity-0 group-hover:opacity-100">
      <div class="pointer-events-auto button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
        </svg>
      </div>
      <div class="pointer-events-auto button-next">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
        </svg>
      </div>
    </div>
  </div>
  <div class="h-full p-20 md:p-32 xl:px-40 lg:w-1/2 xl:w-3/5 xl:py-52">
    <div class="flex space-x-4 text-sm text-sans">
      {% for collection in product.collections %}
        <a href="{{ collection.url }}">
          <span>#{{ collection.title }}</span>
        </a>
      {% endfor %}
    </div>
    <h1 class="capitalize xl:text-7xl">{{ product.title }}</h1>
    <div class="mt-6 max-w-prose">
      {% if product.description.size > 0 %}
        {{ product.description }}
      {% else %}
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non animi, totam suscipit delectus inventore neque sequi minus quos perspiciatis ducimus qui molestias odit ut pariatur optio quam quas culpa veritatis!
        </p>
      {% endif %}
    </div>
    <button class="mt-12 btn">
      <span>{{ product.price | money }}</span>
      <span>•</span>
      <span>Add to cart</span>
    </button>
  </div>
</div>


{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "main_product",
  "settings": []
}
{% endschema %}
